In [1]:
#파일 한번에 불러오기?

In [1]:
import numpy as np
import pandas as pd
from glob import glob
from tqdm.notebook import tqdm

# 커피지수 part_1

In [2]:
# 4개의 커피 csv 파일 먼저 만들고
# 카토그램 으로 표현?

In [4]:
# 1. 데이터로부터 4개 커피숍 정보 추출

data_dir = './data1/소상공인'
df = pd.read_csv(f'{data_dir}/소상공인시장진흥공단_상가(상권)정보_서울_202112.csv')
df.shape

(315294, 39)

In [5]:
# 업종분류코드 : Q12 --> 카페/커피샵
df = df[df.상권업종중분류코드 == 'Q12']

In [8]:
df = df[['상호명', '지점명', '시도명', '시군구명']]
print(df.shape)
df.head(3)

(18628, 4)

       상호명          지점명    시도명 시군구명
23     커피빈  코리아대학로대명거리점  서울특별시  종로구
99   요거프레소          쌍문점  서울특별시  도봉구
191  우성커피숍          NaN  서울특별시  양천구

In [28]:
# 스타벅스 커피숍 
# contains는 대소문자를 구별하고 ,case=False 는 대소문자를 무시하라는 의미

sb = df[df.상호명.str.contains('스타벅스|STARBUCKS',  case=False)] 
sb.head(3)

              상호명      지점명    시도명 시군구명
1544         스타벅스   동숭로아트점  서울특별시  종로구
2474  스타벅스남부터미널2점  남부터미널2점  서울특별시  서초구
2570         스타벅스    현대목동점  서울특별시  양천구

In [27]:
# 지점명중 스타벅스지점명이 없는 데이터 검색

df[df.지점명.str.contains('스타벅스|STARBUCKS', case=False, na=False)]
df

                      상호명          지점명    시도명 시군구명
23                    커피빈  코리아대학로대명거리점  서울특별시  종로구
99                  요거프레소          쌍문점  서울특별시  도봉구
191                 우성커피숍          NaN  서울특별시  양천구
198                  버블베어          NaN  서울특별시  강서구
233                   알뤼르          NaN  서울특별시  강남구
...                   ...          ...    ...  ...
315066           매머드익스프레스         논현역점  서울특별시  강남구
315071                 카페        갈치네보드  서울특별시  광진구
315150        메가엠지씨커피마곡유림          NaN  서울특별시  강서구
315218  이알로스터즈/ERroasters          NaN  서울특별시  관악구
315277              컴포즈커피        은평응암점  서울특별시  은평구

[18628 rows x 4 columns]

In [22]:
# 커비빈 이디야 빽다방 한/영문 같이 검색  cb, ed, bd

cb = df[df.상호명.str.contains('커피빈|COFFEEBEAN', case=False) ]
cb

                상호명           지점명    시도명 시군구명
23              커피빈   코리아대학로대명거리점  서울특별시  종로구
390     커피빈코리아낙성대역점      코리아낙성대역점  서울특별시  관악구
1411            커피빈      코리아청담에스점  서울특별시  강남구
1426            커피빈  코리아강남역랭기지타워점  서울특별시  강남구
1460            커피빈      코리아청담성당점  서울특별시  강남구
...             ...           ...    ...  ...
252611  커피빈코리아올림픽공원           NaN  서울특별시  송파구
253912          커피빈       코리아서초동점  서울특별시  서초구
262687          커피빈    코리아을지로입구역점  서울특별시   중구
273016          커피빈           길동별  서울특별시  강동구
276744          커피빈     서초우성아파트앞점  서울특별시  서초구

[148 rows x 4 columns]

In [30]:
cb = df[df.상호명.str.contains('커피빈|COFFEEBEAN', case=False)]
cb

                상호명           지점명    시도명 시군구명
23              커피빈   코리아대학로대명거리점  서울특별시  종로구
390     커피빈코리아낙성대역점      코리아낙성대역점  서울특별시  관악구
1411            커피빈      코리아청담에스점  서울특별시  강남구
1426            커피빈  코리아강남역랭기지타워점  서울특별시  강남구
1460            커피빈      코리아청담성당점  서울특별시  강남구
...             ...           ...    ...  ...
252611  커피빈코리아올림픽공원           NaN  서울특별시  송파구
253912          커피빈       코리아서초동점  서울특별시  서초구
262687          커피빈    코리아을지로입구역점  서울특별시   중구
273016          커피빈           길동별  서울특별시  강동구
276744          커피빈     서초우성아파트앞점  서울특별시  서초구

[148 rows x 4 columns]

In [31]:
ed = df[df.상호명.str.contains('이디야|EDIYA', case=False)]
ed

               상호명         지점명    시도명  시군구명
1131         이디야커피        신길역점  서울특별시  영등포구
1495         이디야커피        라이프점  서울특별시  영등포구
2397    이디야커피양재AT점       양재AT점  서울특별시   서초구
2463         이디야커피         시흥점  서울특별시   금천구
4304         이디야커피       개봉중앙점  서울특별시   구로구
...            ...         ...    ...   ...
303325       이디야커피      서대문구청점  서울특별시  서대문구
303858       이디야커피      장안중랑천점  서울특별시  동대문구
303986       이디야커피    영등포역코레일점  서울특별시  영등포구
304288       이디야커피  힐스테이트클래시안점  서울특별시  영등포구
307440       이디야커피       창동대우점  서울특별시   도봉구

[416 rows x 4 columns]

In [32]:
bd = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', case=False)]
bd

                상호명       지점명    시도명 시군구명
7179      빽다방공덕새창로점    공덕새창로점  서울특별시  마포구
7789       빽다방서초우성점     서초우성점  서울특별시  서초구
18660   빽다방중계은행사거리점  중계은행사거리점  서울특별시  노원구
24413      빽다방성신여대점     성신여대점  서울특별시  성북구
24973     빽다방신림역1호점    신림역1호점  서울특별시  관악구
...             ...       ...    ...  ...
309389          빽다방   강남역CGV점  서울특별시  강남구
309427          빽다방  마곡역로뎀타워점  서울특별시  강서구
310019          빽다방      구일역점  서울특별시  구로구
310106          빽다방      뚝섬역점  서울특별시  성동구
310287          빽다방    동양미래대점  서울특별시  구로구

[142 rows x 4 columns]

In [33]:
len(sb), len(cb), len(ed), len(bd)

(467, 148, 416, 142)

# 전국 데이터 4개 매장 정보추출

In [46]:
# 빈 데이터 프레임을 만들기
starbucks = pd.DataFrame(columns=['상호명', '시도명', '시군구명'])
coffeebean = pd.DataFrame(columns=['상호명', '시도명', '시군구명'])
ediya = pd.DataFrame(columns=['상호명', '시도명', '시군구명'])
paik = pd.DataFrame(columns=['상호명', '시도명', '시군구명'])

In [47]:
# 디렉토리내 데이터파일을 for 문으로 불러와 전처리
# tqdm은 이렇게 쓰면된다고 한다 로딩뭐시기
for file in tqdm(glob(f'{data_dir}/*.csv')):
    
    df = pd.read_csv(file, low_memory=False)
    df = df[df.상권업종중분류코드 == 'Q12']
    df = df[['상호명', '시도명', '시군구명']]
    
    sb = df[df.상호명.str.contains('스타벅스|STARBUCKS', case=False)]
    cb = df[df.상호명.str.contains('커피빈|COFFEEBEAN', case=False)]
    ed = df[df.상호명.str.contains('이디야|EDIYA', case=False)]
    bd = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', case=False)]
    
    starbucks = pd.concat([starbucks, sb])
    coffeebean = pd.concat([coffeebean, cb])
    ediya = pd.concat([ediya, ed])
    paik = pd.concat([paik, bd])

  0%|          | 0/17 [00:00<?, ?it/s]

In [48]:
starbucks.shape, coffeebean.shape, ediya.shape, paik.shape

((1504, 3), (257, 3), (2076, 3), (727, 3))

In [51]:
starbucks.to_csv('./data1/스타벅스.csv', index=False)
coffeebean.to_csv('./data1/커피빈.csv', index=False)
ediya.to_csv('./data1/이디야.csv', index=False)
paik.to_csv('./data1/빽다방.csv', index=False)

In [ ]:
# - -- --- part1 THE END --- -- - #